/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

#main {
    text-align: center;
}

.movie {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 317px;
    margin: 5px;
}

#userSettings {
    background-color: #eee;
    margin-bottom: 15px;
    padding: 10px;
}

.movieInfo {
    z-index: 2;
    position:absolute;
    background-color:black;
    opacity: 0.6;
    color: white;
    padding-right: 5px;
    padding-top: 5px;
    -webkit-border-bottom-right-radius: 25px;
    -moz-border-radius-bottomright: 25px;
    border-bottom-right-radius: 25px;

}

.movieInfo:hover {
    opacity: 0.8;
}

.movieDelete {
    z-index: 2;
    position:absolute;
    left: 160px;
    width: 40px;
    height: 40px;

    opacity: 0.2;
    color: red;

    text-align:center;
    font-size: 40px;
    line-height: 40px;

    /*-webkit-border-bottom-left-radius: 25px;
    -moz-border-radius-bottomleft: 25px;
    border-bottom-left-radius: 25px;*/
}

.movieDelete:hover {
    opacity: 0.7;
}

.movieRating {
    font-size: 50px;
    line-height: 40px;
    text-align: center;
}

.movieRelease {
    text-align: center;
    padding-right: 15px;
}

.poster {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 200px;
    height: 317px;
}

.poster:hover{
    cursor: pointer;
    opacity: 0.8;
}

.poster:hover ~ a .movieDelete {
    opacity: 0.5;
}

.bigPoster {
    float: left;
    width: 25%;
    padding-right: 10px;
}

#torrentTable {
    float: left;
    width: 75%;
}

.delImg {
    width: 24px;
    cursor: pointer;
}

.desc {
    float: left;
    padding: 15px;
    color: #777;
    font-size: 14px;
    line-height: 20px;
}