/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #eee;
}

#main {
    margin-top: 15px;
    text-align: center;
}

.navbar-inverse .navbar-brand {
    font-size: 28px;
    line-height: 30px;
    padding: 10px 15px;
    color: #AAA;
}

#userSettings {
    margin: 10px;
    text-align: center;
}

.movie {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 317px;
    margin: 5px;
}

.movieTitle {
    z-index: 2;
    position:absolute;
    background-color:black;
    opacity: 0.8;
    color: white;
    width: 100%;
    bottom: 0;
    font-weight: bold;
    font-size: 16px;
}

.legal {
    background-color: #005000
    !important;
}

.movieQuality {
    font-size: 10px;
}

.movieInfo {
    font-size: 12px;
    text-align: center;
    z-index: 2;
    position:absolute;
    background-color:black;
    opacity: 0.6;
    color: white;
    padding-right: 5px;
    padding-top: 5px;
    -webkit-border-bottom-right-radius: 25px;
    -moz-border-radius-bottomright: 25px;
    border-bottom-right-radius: 25px;

}

.movieInfo:hover {
    opacity: 0.8;
}

.movieDelete {
    z-index: 2;
    position:absolute;
    left: 160px;
    width: 40px;
    height: 40px;

    opacity: 0.2;
    color: red;

    text-align:center;
    font-size: 40px;
    line-height: 40px;

    /*-webkit-border-bottom-left-radius: 25px;
    -moz-border-radius-bottomleft: 25px;
    border-bottom-left-radius: 25px;*/
}

.movieDelete:hover {
    opacity: 0.7;
}

.movieRating {
    font-size: 40px;
    line-height: 30px;
    text-align: center;
}

.movieRelease {

    
}

.poster {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 200px;
    height: 317px;
}

.poster:hover{
    cursor: pointer;
    opacity: 0.8;
}

.poster:hover ~ a .movieDelete {
    opacity: 0.5;
}

.bigPoster {
    width: 100%;
}

.delImg {
    width: 24px;
    cursor: pointer;
}

.navbarDesc {
    float: left;
    padding: 15px;
    color: #777;
    font-size: 14px;
    line-height: 20px;
}

.movDesc {
    font-size: 12px;
}

.movDescName {
    font-size: 18px;
}

#torrentTable {
    font-size: 12px;
}

table.dataTable thead > tr > th {
	padding-left: 8px;
	padding-right: 16px;
}

.movLeft {
    float:left; 
    width: 25%; 
    margin-top: 15px;
    padding-right: 10px;
}

.movRight {
    margin-top: 15px;
    float:right;
    width: 75%
}

@media (max-width: 767px) {
    .jumbotron {
        padding: 15px 0;
    }
    
    .container {
        padding: 0;
    }
    
    .movLeft {
        float: none;
        width: 100%;
        padding: 0;
    }

    .movRight {
        float: none;
        width: 100%;
    }

}