#sublime projects
torrent-parser.sublime-project
torrent-parser.sublime-workspace

#movie posters
img/posters/
#trackers icons
img/trackers

#passwords
lib/pass.php

#tmp files
tmp.php

#php 3rdparty
bin/

#logs
logs/

#cookies for curl
kinopoisk_cookies.jar

#robots
robots.txt

#htaccess
.htaccess
